@import url(https://fonts.googleapis.com/css?family=Open+Sans);* {
  box-sizing: border-box;
  font-family: "Open Sans";
}
body {
  margin: 0;
}
.welcome-page {
  background: #fff;
  padding: 10px;
  position: relative;
  z-index: 32;
  margin-top: 10vh;
  min-height: 200px;
}
.welcome-page h1 {
  padding: 0;
  margin: 0;
}
.welcome-page form {
  display: block;
  width: 100%;
}
.welcome-page form label {
  display: block;
  width: 100%;
}
.welcome-page form input {
  display: block;
  padding: 10px 15px;
  outline: none;
  border: 1px solid #DDDDDD;
  width: 100%;
  margin-bottom: 10px;
}
.welcome-page form .button-submit {
  background: #2196F3;
  color: #FFFFFF;
  outline: none;
  padding: 5px 10px;
}
